<?xml version="1.0"?>
<!--
 * The MIT License (MIT)
 *
 * Copyright (c) 2015 Patryk Makowski
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:

 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.

 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 *
 * @category    MPower
 * @package     MPower_ProductBlockFormKey
 * @author      Patryk Makowski <makowski.pat+mppbfkf@gmail.com>
 * @license     http://opensource.org/licenses/MIT The MIT License (MIT)
-->
<config>
    <modules>
        <MPower_ProductBlockFormKey>
            <version>0.2.0</version>
        </MPower_ProductBlockFormKey>
    </modules>

    <global>
        <blocks>
            <mpower_productblockformkey>
                <class>MPower_ProductBlockFormKey_Block</class>
            </mpower_productblockformkey>

            <catalog>
                <rewrite>
                    <product_new>MPower_ProductBlockFormKey_Block_Catalog_Product_New</product_new>
                    <product_widget_new>MPower_ProductBlockFormKey_Block_Catalog_Product_Widget_New</product_widget_new>
                </rewrite>
            </catalog>

            <widget>
                <rewrite>
                    <adminhtml_widget_instance_edit_tab_settings>MPower_ProductBlockFormKey_Block_Widget_Adminhtml_Widget_Instance_Edit_Tab_Settings</adminhtml_widget_instance_edit_tab_settings>
                </rewrite>
            </widget>
        </blocks>

        <models>
            <mpower_productblockformkey>
                <class>MPower_ProductBlockFormKey_Model</class>
            </mpower_productblockformkey>
        </models>

        <events>
            <mpower_productblockformkey_get_cache_key_info>
                <observers>
                    <mpower_productblockformkey_add_form_key_to_cache_key_info>
                        <class>mpower_productblockformkey/observer</class>
                        <method>addFormKeyToCacheKeyInfo</method>
                    </mpower_productblockformkey_add_form_key_to_cache_key_info>
                </observers>
            </mpower_productblockformkey_get_cache_key_info>
        </events>
    </global>
</config>
